Repository team-morak/morak, pull requests merged in 2024-03, with the labels that each got.

#27 [feat] 그룹 가입 신청 및 승인 서비스 추가
  .gitignore
  app/backend/Dockerfile
  app/backend/prisma/migrations/20240227061328_d5684a792_group_apply_approve/migration.sql
  app/backend/prisma/schema.prisma
  app/backend/src/chat/chat.gateway.ts
  app/backend/src/chat/chat.service.ts
  app/backend/src/groups/dto/groups.dto.ts
  app/backend/src/groups/groups.controller.ts
  app/backend/src/groups/groups.repository.ts
  app/backend/src/groups/groups.service.ts
  app/frontend/Dockerfile.product
  package-lock.json
  packages/apitype/dto/response/groups.ts
Labels: 💻 Back-end, 🚀 feat

#22 [Feat] 그룹 상세 페이지 추가
  app/frontend/src/assets/icons/delete.svg
  app/frontend/src/components/Group/GroupButton.tsx
  app/frontend/src/hooks/useRouter.tsx
  app/frontend/src/pages/Groups/Detail/GroupMember.tsx
  app/frontend/src/pages/Groups/Detail/index.css.ts
  app/frontend/src/pages/Groups/Detail/index.tsx
  app/frontend/src/pages/Profile/MyGroup/index.tsx
  app/frontend/src/pages/index.ts
  app/frontend/src/queries/group.ts
  app/frontend/src/services/group.ts
Labels: 🚀 feat, 🎨 Front-end

#30 [Refactor] membersCount -> memberCount
  app/backend/prisma/schema.prisma
  app/backend/src/groups/groups.controller.ts
  app/backend/src/groups/groups.service.ts
  app/backend/src/mogaco-boards/mogaco-boards.service.ts
Labels: 🐛 bug, ✨ enhancement, 💻 Back-end

#32 [Refactor] 충돌 수정 이후 memberCount 변수명 재수정
  app/backend/src/groups/groups.repository.ts
  app/backend/src/groups/groups.service.ts
Labels: ✨ enhancement, 💻 Back-end

#9 [Feat] 새로운 그룹 참여 방식 구현
  app/backend/prisma/schema.prisma
  app/frontend/src/components/Group/index.css.ts
  app/frontend/src/components/Group/index.tsx
  app/frontend/src/pages/Groups/Join/index.tsx
  app/frontend/src/pages/Groups/index.tsx
  app/frontend/src/pages/Profile/MyGroup/index.tsx
  app/frontend/src/queries/group.ts
  app/frontend/src/queries/hooks/group.ts
  app/frontend/src/services/group.ts
Labels: 🚀 feat, 🎨 Front-end

#36 [Feat] 그룹 삭제 API 구현
  app/backend/src/groups/groups.controller.ts
  app/backend/src/groups/groups.repository.ts
  app/backend/src/groups/groups.service.ts
Labels: 💻 Back-end, 🚀 feat

#40 [Feat] 특정 정보 그룹 조회 시 그룹장 providerId 반환 및 그룹 소속 인원 조회 시 그룹원 id 값 추가 반환
  app/backend/src/groups/dto/groups.dto.ts
  app/backend/src/groups/groups.controller.ts
  app/backend/src/groups/groups.repository.ts
  packages/apitype/dto/response/groups.ts
Labels: ✨ enhancement, 💻 Back-end, 🚀 feat
