Repository team-morak/morak, pull requests merged in 2024-02, with the labels that each got.

#2 [Fix] GET my-groups API 라우팅 오류 수정 및 그룹 인원 수 반환
  app/backend/src/groups/groups.controller.ts
  app/backend/src/groups/groups.repository.ts
  app/backend/src/groups/groups.service.ts
Labels: 🐛 bug, 💻 Back-end

#8 [Feat] Groups API Swagger 최신화
  app/backend/src/groups/dto/groups.dto.ts
  app/backend/src/groups/groups.controller.ts
  packages/apitype/dto/response/groups.ts
Labels: 💻 Back-end, 🚀 feat

#4 [Design] 그룹 참여/가입 신청 UI 추가
  app/frontend/src/assets/icons/lock.svg
  app/frontend/src/components/Group/GroupButton.tsx
  app/frontend/src/components/Group/hooks/useGroupModal.tsx
  app/frontend/src/components/Group/index.tsx
  app/frontend/src/components/Modal/index.css.ts
  app/frontend/src/hooks/useRouter.tsx
  app/frontend/src/pages/Groups/Join/index.css.ts
  app/frontend/src/pages/Groups/Join/index.tsx
  app/frontend/src/pages/Groups/index.tsx
  app/frontend/src/pages/Profile/MyGroup/index.css.ts
  app/frontend/src/pages/Profile/MyGroup/index.tsx
  app/frontend/src/pages/index.ts
Labels: 💄 design, 🎨 Front-end

#13 [Feat] 라디오 컴포넌트 추가
  app/frontend/src/pages/Groups/Create/GroupTypeRadio.tsx
  packages/morak-ui/src/components/Radio/index.css.ts
  packages/morak-ui/src/components/Radio/index.tsx
  packages/morak-ui/src/index.ts
Labels: 💄 design, 🚀 feat, 🎨 Front-end

#24 [Feat] 그룹 멤버 강제 퇴장 API 구현
  app/backend/src/groups/dto/groups.dto.ts
  app/backend/src/groups/groups.controller.ts
  app/backend/src/groups/groups.repository.ts
  app/backend/src/groups/groups.service.ts
  packages/apitype/dto/response/groups.ts
Labels: ✨ enhancement, 💻 Back-end, 🚀 feat
